.todo-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.text {
    flex: 1;
    word-break: break-all;
}

.delete {
    margin-left: 1rem;
    color: #f03e3e;
    font-size: 0.8rem;
}

.todo-item + .todo-item {
    border-top: 1px solid #f1f3f5;
}